.toggle-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ccc; /* Default background color */
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 10px;
    transition: background-color 0.3s ease;    
}

.toggle-button.toggled {
    background-color: #ffcc00; /* Toggled background color */
}
.toggle-button.toggled > * {
    /* Additional styles for toggled state */
    color: #fff; /* Change color of spans when toggled */
}
